$primary: #99946b;
$secondary: #64614b;
$terciary: rgb(90, 86, 68);
$primary-light: #eee7c2;

$my-font: 'MedievalSharp', sans-serif !important;
$font-color: #eeeeee;

$rol-button-background: #6B997D;
$rol-button-active: #9fb4a7;
$rol-button-hover: #557a64;

$rol-button-background2: rgb(184, 152, 88);
$rol-button-active2: rgb(224, 195, 136);
$rol-button-hover2: rgb(126, 109, 76);